# misc
.DS_Store
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

build
dist
.next
.husky
storybook-static
out
plopfile.mjs

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.idea
.vscode
/test-results/
/playwright-report/
/playwright/.cache/

e2e/browser-test-state.json
e2e/test-results.json
